include header
block content
    include navbar
    div.main
        div.container
            div.about
                h2 MiuKu的名片
                div.card
                    div.photo
                        img(src="http://img.25pp.com/uploadfile/soft/images/2014/0927/20140927123300330.jpg", alt="")
                    div.introduce
                        p 
                            b Nick 
                            span MiuKu
                        p   
                            b Sex 
                            span Boy
                        p   
                            b Age  
                            span 1990/9/12
                        p 
                            b Native Place    
                            span sichuan guangyuan  
                        p
                            b Living City 
                            span sichuan chengdu 
                        p
                            b Language 
                            span 中文 or English
                        p
                            b QQ 
                            span 694720131  
                        p
                            b Email 
                            span 694720131@qq.com    
                        hr
                        p Hey! My name is Miuku...(好吧，以上都是我在装逼，实在装不下去了)   
                div(class="card project")
                    h3 成都和创新天科技有限公司
                    hr.hr
                    p   
                        b 在职 / 
                        time 2015年7月1日 - 2017年7月1日
                    p
                        b  职位 / 
                        span 前端开发
                    p
                        b  职责 / 
                        span 负责PC、移动端页面组织,前端新技术调研,和项目前端部分可行性评估
                    p   
                        b  项目经历
                        p  创新之城 双创项目页面
                        p  问卷调查系统    
                        p  物流汇总界面
                div(class="card project")
                    h3 成都彩昌科技有限公司
                    hr.hr
                    p   
                        b 在职 / 
                        time 2017年7月1日 - 
                    p
                        b  职位 / 
                        span 前端开发
                    p
                        b  职责 / 
                        span 负责PC、移动端页面组织,前端新技术调研,和项目前端部分可行性评估
                    p   
                        b  项目经历
                        p  物流设备APP
                        p  移动端页面       
include footer