include header

block content
    include navbar
    div.main
        div.container
            div.title
                h2 < 关于javascript的面向对象部分 >
            div.info
                a(href="#") css
                b MiuKu 
                span 发布于
                time 2017年9月10日 
                span
                    i(class="iconfont icon-liuyan1")
                    0           

            div.content
                p 电视剧啊看来京东上卡了简单快乐撒娇的快乐撒娇点开链接撒开了大家撒开了大家撒开了较大时刻建档立卡数据的来看撒娇的快乐撒娇的考拉是简单快乐撒即可来点开链接撒开了简单快乐撒娇的快乐撒娇的考拉是简单快乐撒娇的考拉是简单快乐撒娇的考拉手机打开啦
            div.author_say
                img(src="http://img.25pp.com/uploadfile/soft/images/2014/0927/20140927123300330.jpg", alt="author")
                span 世无难事，存乎一心

            div.comment
                h3 评论者
                div.submit
                  form(action="")
                    div.textarea
                        textarea(name="", cols="30", rows="10")
                        div.login
                            ul
                              li
                                a(href="#")
                                 i(class="iconfont icon-QQ")
                              li
                                a(href="#")
                                 i(class="iconfont icon-weixin")  
                              li
                                a(href="#")
                                 i(class="iconfont icon-weibo-copy") 
                              li.form_submit
                                a.btn(href="#")
                                    发表评论     
                                       
                div.comment_list
                    div.photo
                        img(src="http://img.25pp.com/uploadfile/soft/images/2014/0927/20140927123300330.jpg", alt="")    
                    div.contain
                        div.infomation
                            a(href="#")< MiuKu >
                            time 2017年9月18日
                            span 1 楼
                        div.contents
                            p 这篇文章非常不错，值得肯定!!!!
                    div.reply        
                        div.comment_list
                            div.photo
                                img(src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2895587336,2080035092&fm=27&gp=0.jpg", alt="")    
                            div.contain
                                div.infomation
                                    a(href="#")< master >
                                    time 2017年9月18日
                                div.contents
                                    p 赞同十分赞同，非常赞同，不得不赞同!!!!   

                        div.comment_list
                            div.photo
                                img(src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3944436438,1105238554&fm=27&gp=0.jpg", alt="")    
                            div.contain
                                div.infomation
                                    a(href="#")< jellny >
                                    time 2017年9月18日
                                div.contents
                                    p 这篇文章非常不错，值得肯定!!!!  
                div.comment_list
                    div.photo
                        img(src="http://img.25pp.com/uploadfile/soft/images/2014/0927/20140927123300330.jpg", alt="")    
                    div.contain
                        div.infomation
                            a(href="#")< kela >
                            time 2017年9月18日
                            span 1 楼
                        div.contents
                            p 这篇文章非常不错，值得肯定!!!!
                    div.reply        
                        div.comment_list
                            div.photo
                                img(src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2895587336,2080035092&fm=27&gp=0.jpg", alt="")    
                            div.contain
                                div.infomation
                                    a(href="#")< 风语者 >
                                    time 2017年9月18日
                                div.contents
                                    p 赞同十分赞同，非常赞同，不得不赞同!!!!   

                        div.comment_list
                            div.photo
                                img(src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3944436438,1105238554&fm=27&gp=0.jpg", alt="")    
                            div.contain
                                div.infomation
                                    a(href="#")< 万花筒 >
                                    time 2017年9月18日
                                div.contents
                                    p 这篇文章非常不错，值得肯定!!!!    
                div.comment_page
                    ul
                        li
                            a(href="#")< 上一页
                        li.count
                             span  1 / 3  
                        li
                            a(href="#") 下一页 >                                                   
include footer