doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    title MiuKuHome
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//at.alicdn.com/t/font_407377_ujmt8v4jvjjj1yvi.css")
  body
    block content