extends header

block content
  div.header
  div.nav
    div.navbar
      div.title
        h1 
           <i class="iconfont icon-longmao"></i>  MiuKuHome
      div.navlist  
        ul
          li
            a(href='#') 首页
          li
            a(href='#') 技术  
          li
            a(href='#') 图库
          li
            a(href='#') 作品      
          li
            a(href='#') Github
          li
            a(href='#') 关于  
      div.menue
        a(href='javascript:;',id="menu")
          i(class="iconfont icon-icon")
      div.search
        div.link
          a(href='javascript:;',id="search")
            i(class="iconfont icon-sousuo")
        div.search_form
          form(action="")
            input(type="search", name="search",placeholder="请输入搜索内容")
            p 请输入要搜索内容的标题或关键字
  div.main
    div.warp
      div.list
        div.banner
          img(src="https://static.mf8.biz/wp-content/uploads/2017/06/enable-https-banner.jpg")
        h3.title
          span javascript
          a(href="#") 关于javascript的面向对象部分 
        div.info
          b MiuKu 
          span 发布于
          time 2017年9月10日 
          span
            i(class="iconfont icon-liuyan1")
            0       
        div.abstract
          p 我的的撒开了多久爱是快乐简单快乐撒娇的卡萨简单快乐撒娇的了撒娇的拉萨科技的快乐撒娇的快乐简单快乐撒娇
                    
  include footer
            