html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,input{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
// 网页字体引入
@font-face{
    font-family: shanghei;
    src: url('../font/造字工房尚黑G0v1常规体.otf');
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    font-family:shanghei;
}

.header{
    height: 350px;
    background: url(http://ovufm1chl.bkt.clouddn.com/weibo-banner-02.jpg) no-repeat center;
    background-size:cover;
    position: relative;
}

.nav{
    height: 60px;
    background: rgba(129,199,132,.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navbar{
        margin: 0 15px;
        position: relative;
        .title{
            left: 0;
            top: 0;
            color: #FFFFFF;
            line-height: 60px;
            position: absolute;
            h1{
                font-family: '-apple-system,BlinkMacSystemFont,"Lucida Grande","Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Zen Hei","WenQuanYi Micro Hei","Noto Sans CJK SC","Source Han Sans CN",SimSun,sans-serif';
                i{
                    font-size: 40px;
                }
            }
        }
        .navlist{
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
            ul{
                display: inline-block;
                clear: both;
                overflow: hidden;
                line-height: 60px;
                margin: 0 auto;
                font-size: 20px;
                height: 60px;
                    li{
                        float: left;
                        a{
                            padding: 0 16px;
                            display: block;
                            color: #FFFFFF;
                            transition: .3s;
                            border-bottom: 3px solid #FFFFFF;
                            height: 60px;
                        }
                        a:hover{
                            background: rgba(255,255,255,.2);
                            height: 57px;
                        }
                    }
            } 
        }   
        .menue{
            text-align: right;
            line-height: 60px;
            display: none;
            a{  
               margin-right: 50px;
               i{
                 font-size: 22px;
                 color: #FFFFFF;
               }
            }
        }
        .search{
            position: absolute;
            right: 0;
            top: 0;
            line-height: 60px;
            clear: both;
            overflow: hidden;
            .link{
                float: left;
                margin-right: 10px;
                a{
                    color: #0099cc;
                    i{
                        font-size: 20px;
                    }
                }
            }
            .search_form{
                float: left;
                width: 0;
                transition: .5s;
                overflow: hidden;
                form{
                    input{
                        width: 100%;
                        outline: none;
                        line-height: 30px;
                        background: none;
                        border: 0;
                        border-bottom: 2px solid #76BAD1;
                        font-size: 16px;
                    }
                    p{
                        display: none;
                    }
                }
            }
            .show_search{
                width: 170px;
            }
        }  
    }
}

.main{
    width: 768px;
    margin: 35px auto;
    border-left: 1px solid rgba(139, 127, 127, .1);
    border-right: 1px solid rgba(139, 127, 127, .1);
    .warp{
        padding: 15px;
        .list{
            h3.title{
                font-weight: 400;
                span{
                    background: #99CC66;
                    padding: 4px 8px;
                    color: #FFFFFF;
                    border-radius: 2px;
                    line-height: 30px;
                    margin-right: 15px;
                }
                a{
                    color: #000000;
                }
            }
            .info{
                padding: 6px 0;
                color: #bbb;
                b{
                    font-family: '-apple-system,BlinkMacSystemFont,"Lucida Grande","Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Zen Hei","WenQuanYi Micro Hei","Noto Sans CJK SC","Source Han Sans CN",SimSun,sans-serif';                    
                }
                span{
                    padding: 0 4px;
                }
            }
        }
    }
}

// 手机下响应样式
@media (max-width:768px){
    .main{
        width: 100%;
    } 
    .nav{
        .navbar{
            .title{
                left: 0;
                h1{
                    font-size: 20px;
                    i{
                        font-size: 22px;
                    }
                }
            }
            .menue{
              display: block;
            }
            .navlist{
                width: 100%;
                height: 0;
                position: absolute;
                top: 60px;
                left: 0;
                overflow: hidden;
                transition: .5s;
                background: rgba(0,0,0,.2);
                ul{
                   clear: none;
                   overflow: visible;
                   width: 100%;
                   li{
                      width: 100%;
                      padding: 0;
                      float: none;
                      a{
                        font-size: 16px;
                        border-bottom: 1px solid rgba(255,255,255,.2);
                      }
                    }
                    li:last-of-type{
                        a{
                            border-bottom: 0;
                        }
                    }
                }
            }
            .search_form{
                position: fixed;
                width: 100% !important;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(255,255,255,.94);
                z-index: 9999;
                display: none;
                opacity: 0;
                form{
                    padding: 50% 25px;
                    p{
                        display: block !important;
                    }
                }
            }
            .show_modal{
                display: block;
            }
            .show_modal_opacity{
                opacity: 1;
            }
            .hide_modal_opacity{
                opacity: 0;
            }
        }
    }
}